.background {
  background-image: url(../img/typewriter.jpg) no-repeat center center;
  position: fixed;

}

.jumbotron {
  background: transparent;
}

.block1 {
  color: black;
}


div .card{
  border-color: black;
  display: none;
}

div .results {
  /*display: none;*/
  color: black;
  border: 1px;
  border-color: black;
}


div .results{
  text-align: center;
}
