div #length{
  display: none;
}

img .typewriter{
  display: inline-block;
  float: right;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid black;
}

.jumbotron {
  background: transparent;
}

.block1 {
  color: black;
}

body{
  font-family: monospace;
}


div .card{
  border-bottom: none;
  border-color: black;
  margin: 0;
  padding: 0;
  display: none;
  font-family: monospace;
  font-weight: bold;
}

div .results {
  /*display: none;*/
  color: black;
  border: 1px;
  border-color: black;
  text-align: center;
}
